<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <springProperty scope="context" name="appName" source="spring.application.name" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%5p)
                %clr([${appName},%X{traceId:-},%X{spanId:-}]){yellow} %clr(---){faint}
                %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} : %m%n</pattern>
        </encoder>
    </appender>

    <springProfile name="dev,prod">
        <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
            <http>
                <url>${LOKI_URL:-http://localhost:3100/loki/api/v1/push}</url>
            </http>
            <format>
                <label>
                    <pattern>app=${appName},host=${HOSTNAME},level=%level</pattern>
                </label>
                <message>
                    <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
                </message>
            </format>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="LOKI" />
        </root>
    </springProfile>

    <springProfile>
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>

    <logger name="cl.duoc.music_hub" level="DEBUG" />
</configuration>